<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="name" id="name" />
      <nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors">
        The input is not valid name!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" nzRequired>description</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="text" id="description" formControlName="description" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="createDate" nzRequired>createDate</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="text" formControlName="createDate" id="createDate" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="planName">plan name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="text" formControlName="planName" id="planName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="frequency">frequency</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="text" formControlName="frequency" id="frequency" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="startDate">startDate</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input placeholder="{{'common.none'|translate}}" nz-input type="text" formControlName="startDate"
        id="startDate" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">download</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <button [disabled]="!plan.map_path" (click)="handleMapDownload()" nz-button nzType="primary">download</button>
    </nz-form-control>
  </nz-form-item>
</form>
<button (click)="add()" nz-button nzType="primary">add</button>
<button (click)="edit()" nz-button nzType="primary">edit</button>
<button (click)="delete()" nz-button nzType="danger">delete</button>

<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
      <th>执行时间</th>
      <th>原始数据</th>
      <th>自动处理结果</th>
      <th>飞行日志</th>
      <th>服务器日志</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of planLog">
      <td>{{data.created_at}}</td>
      <td><button nzType="primary" [disabled]="!data.raw_data"
          (click)="handleDownload('/api'+ data.raw_data, data.id+'_raw_data.bin')" nz-button>查看</button></td>
      <td><button nzType="primary" [disabled]="!data.orthomosaic_path"
          (click)="handleDownload('/api'+ data.orthomosaic_path, data.id+'_orthomosaic.tif')" nz-button>查看</button></td>
      <td><button [disabled]="!data.air_log_path"
          (click)="handleDownload('/api'+ data.air_log_path, data.id+'_air_log.bin')" nz-button>下载</button>
      </td>
      <td><button [disabled]="!data.sever_log_path"
          (click)="handleDownload('/api'+ data.sever_log_path, data.id+'_sever_log.bin')" nz-button>下载</button></td>
    </tr>
  </tbody>
</nz-table>
<video #videoelement id="videoElement" x5-video-player-fullscreen="true" x5-video-orientation="landscape" width="600"
  height="350">
  Your browser is too old to support HTML5 video.
</video>