#login-page{
   min-width: 1200px;
  min-height: 800px;
  position: absolute;
  top:0;
  right:0;
  bottom: 0; 
  left:0;
  background-image:url("/assets/image/login-bg.png");
  background-size: cover;
  display: flex;
      justify-content: center;
    align-items: center;
  .form{
    width:800px;
    position: relative;
    background-color: #152D80;
    border:1px solid #2C6AAD;
    border-radius: 5px;
    .logo{
      position: absolute;
      width:100%;
      left:0;
      top:-110px;
      text-align: center;
    }
    .img{
      float: left;
    }
    .login-form {
      padding: 60px;
      overflow: auto;
      nz-form-item{
        margin-bottom: 50px;
        &:last-child{
          margin-bottom: 0;
        }
        .ant-input-lg{
          height:56px;
          padding-left: 44px;
        }
        .anticon{
          font-size: 20px;
        }
      }
      .forgot-password{
        color:#B2CDFF;
        float: right;
        i{
          vertical-align: middle;
          font-size: 14px;
        }
      }
    }
    
    .login-form-button {
      width: 100%;
      height:56px;
      background-color: #2982FF;
    }
  }
}