<div id="login-page">
  <div class="form">
    <div class="logo"><img src="assets/image/logo.png" alt=""></div>

    <img class="img" src="assets/image/login-img.png" alt="">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors">Please
            input
            your username!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" [nzPrefix]="prefixLock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">Please
            input
            your Password!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nzSize="large" nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
          <a class="forgot-password">忘记密码 <i class="anticon anticon-right"></i></a>
        </nz-form-control>
      </nz-form-item>

    </form>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  </div>
</div>